<div class="container">
    <div class="titulo">
        <mat-label><h2>Mis Datos</h2></mat-label>
    </div>
    <div class="text text-center">
        <!-- datos del usuario -->
    <div>
        <mat-form-field appearance="fill" >
            <label style="color: gray;">Nombre</label>
            <!-- <mat-label>Nombre</mat-label> -->
            <input style="color: black;" matInput placeholder="Placeholder" value="{{datosUsuario.name}}" disabled="">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <label style="color: gray;">Apellidos</label>
            <!-- <mat-label>Apellidos</mat-label> -->
            <input style="color: black;" matInput placeholder="Placeholder" value="{{datosUsuario.lastName}}" disabled="">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <label style="color: gray;">Cel</label>
            <!-- <mat-label>Cel</mat-label> -->
            <input style="color: black;" matInput placeholder="Placeholder" value="{{datosUsuario.cel}}" disabled="">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <label style="color: gray;">DNI</label>
            <!-- <mat-label>DNI</mat-label> -->
            <input style="color: black;"  matInput placeholder="Placeholder" value="{{datosUsuario.dni}}" disabled="">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <label style="color: gray;">Email</label>
            <!-- <mat-label>E-</mat-label> -->
            <input style="color: black;" matInput placeholder="Placeholder" value="{{datosUsuario.email}}" disabled="">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
    </div>
    </div>

</div>
