.container {
  max-width: 1500px;
  margin-left: 10px;
}
.example-card{
    margin-top: 6px;
    /* background-color: #fcedc3; */
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}
